<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>method</key>
		<string>app-store</string> <!-- app-store, ad-hoc, enterprise, development -->
		<key>teamID</key>
		<string>V3TKYTA54S</string>
		<key>signingStyle</key>
		<string>manual</string>
		<key>provisioningProfiles</key>
		<dict>
			<key>ch.simonste.jasstafel</key>
			<string>jasstafel_distribution</string>
		</dict>
	</dict>
</plist>